<h1>Welcome to about page</h1>
<style>
.blog {
	background-color: black;
	color: white;
	margin: 20px;
	padding: 20px;
}
</style>
	<%= link_to 'Go to Home page', root_path %>
	<br>
	<b>About US</b>
	<br>
	<div class="blog">
		<h2>Everything about us</h2>
		<p>This will be some new content</p>
	</div>
