<style>
.cities {
  background-color: black;
  color: white;
  margin: 20px;
  padding: 20px;
}
</style>

<h1>Welcome to Alpha Blog</h1>
<p>My first paragraph.</p>
<h2>The Ruby on Rails blog exercise</h2>
<p>This is blog app exercise for learning Ruby on Rails. Many thanks to Mashrur!</p 
<br>
<a href="https://guides.rubyonrails.org/">Visit and learn Rails on Rails Guides webpage</a> 
<br>
<%= link_to image_tag('sticks.jpg', :size => "260x180"), 'https://pixabay.com/photos/sticks-colorful-the-background-4830939/' %>
<br>
<br>
<%= link_to 'Go to About page', about_path %>
<br>
<div class="cities">
  <h2>London</h2>
  <p>This will be blog about London</p>
</div>

<div class="cities">
  <h2>Paris</h2>
  <p>Thhis will be blog about Paris</p>
</div>

<div class="cities">
  <h2>Tokyo</h2>
  <p>This will be blog about Tokyo</p>
</div>
